@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,400&family=Poppins:wght@600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background: hsl(193, 100%, 96%);
  padding: 20px;
  /* text-align: center; */
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 100px;
  cursor: pointer;
}

nav button {
  background-color: white;
  padding: 5px 20px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

main {
  /* padding: 10px; */
  /* position: relative; */
}

.intro {
  background-color: hsl(193, 100%, 96%);
}

.intro-container {
  padding: 50px 10px;
  min-height: 100vh;
  display: grid;
  gap: 60px;

}

.intro-left,
.grow-right,
.flow-right,
.user-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.intro-left h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 30px;
  padding: 0 10px;
}

.intro-left p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  padding: 0 10px;
  color: hsl(192, 100%, 9%);
}

.intro-left button {
  background-color: hsl(322, 100%, 66%);
  color: white;
  text-transform: capitalize;
  padding: 10px 50px;
  margin-top: 30px;
  border: none;
  border-radius: 40px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.intro-right,
.grow-left,
.flow-left,
.user-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro-right img,
.grow-left img,
.flow-left img,
.user-left img {
  max-width: 600px;
  width: 100%;
  padding: 0 10px;
}

/* grow section  */
.grow,
.flow,
.user {
  background-color: white;
  padding-top: 50px;
  padding-bottom: 10px;
  margin: 0 10px;
}

.grow-container,
.flow-container,
.user-container {
  display: grid;
  gap: 50px;
  padding: 40px 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  height: 100%;
  border-radius: 20px;
  position: inherit;
}

.grow-right h2,
.flow-right h2,
.user-right h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 20px;
  padding: 0 10px;
}

.grow-right p,
.flow-right p,
.user-right p {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem;
  font-weight: normal;
  line-height: 1.5rem;
  color: hsl(194, 8%, 33%);
}

.flow-right p {
  padding: 0 15px;
}

.user-right p {
  padding: 0 25px;
}

.cta-container {
  padding: 0 10px;
  position: relative;
  width: 100%;
  z-index: 10;
  margin-bottom: -60px;
}

.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  /* z-index: 10; */
  /* position: absolute;
  left: 50%;
  transform: translate(-50%); */
  bottom: -80px;
  text-align: center;
  padding: 40px 10px;
  margin-top: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.cta p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: black;
}

.cta button {
  background-color: hsl(322, 100%, 66%);
  color: white;
  text-transform: capitalize;
  padding: 10px 50px;
  margin-top: 30px;
  border: none;
  border-radius: 40px;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

footer {
  z-index: -10;
  background-color: hsl(192, 100%, 9%);

}

.top-footer {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;
  text-align: left;
  color: #ddd;
  font-family: 'Open Sans', sans-serif;
}

.column1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 40px;
}

.column1 .logo {
  width: 150px;
  cursor: pointer;
  margin-bottom: 20px;

}

.column1 div {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.mail,
.phone {
  width: 20px;
  margin-right: 20px;
}

.map {
  padding-top: 5px;
  width: 70px !important;
  margin-right: 30px;
}

.column2 {
  display: flex;
  flex-direction: column;

  justify-content: center;
  margin-bottom: 10px;
}

.column2 p,
.column3 p {
  margin-bottom: 10px;
}

.column3 {
  margin-bottom: 30px;
}

.column4 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column4 img {
  margin-right: 10px;
}

.bottom {
  text-align: center;
  font-size: 0.8rem;
  padding: 0 10px 30px 10px;
  background-color: hsl(192, 100%, 9%);
  color: #ddd;
  font-family: 'Poppins', sans-serif;
}

@media screen and (min-width: 768px) {
  header {
    padding: 30px 65px;
  }

  nav img {
    width: 200px;
  }

  nav button {
    font-size: 1.1rem;
  }

  .intro {}

  .intro-container {
    grid-template-columns: 1fr 1fr;
    width: 90%;
    padding: 0;
    min-height: 70vh;
    margin: 0 auto;
  }

  .intro-left,
  .grow-right,
  .flow-right,
  .user-right {
    display: flex;
    align-items: flex-start;
    text-align: left;
  }

  .intro-left h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.5rem;
    padding: 0;
  }

  .intro-left p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    padding: 0;
  }

  .intro-right,
  .grow-left,
  .flow-left,
  .user-left {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: flex-start;
  }

  .intro-right img,
  .grow-left img,
  .flow-left img,
  .user-left img {
    max-width: 600px;
    width: 100%;
  }

  .grow-container,
  .flow-container,
  .user-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    width: 90%;
    padding: 40px 40px 40px 100px;
    margin: 0 auto;
  }

  .grow-left,
  .user-left {
    grid-row: 1;
    grid-column: 2;
  }

  .grow-right,
  .user-right {
    grid-row: 1;
    grid-column: 1;

  }

  .flow-left {
    grid-column: 1;
    grid-row: 1;
  }

  .flow-right {
    grid-column: 2;
    grid-row: 1;
  }

  .grow-right h2,
  .flow-right h2,
  .user-right h2 {
    padding: 0;
  }

  .grow-right p,
  .flow-right p,
  .user-right p {
    padding: 0;
  }

  .cta-container{
    max-width: 600px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }

  .top-footer {
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 100px;
    width: 90%;
    margin: auto;
    padding: 0;
  }
}